/out/production/10_Objektdiagramme/Fuhrpark/Dienstwagen.class
/out/production/10_Objektdiagramme/Fuhrpark/Main.class
/out/production/10_Objektdiagramme/Fuhrpark/Mitarbeiter.class
/out/production/10_Objektdiagramme/Lagerverwaltung/Artikel.class
/out/production/10_Objektdiagramme/Lagerverwaltung/Lager.class
/out/production/10_Objektdiagramme/Lagerverwaltung/Main.class
/out/production/10_Objektdiagramme/Mathe/Main.class
/out/production/10_Objektdiagramme/Notizbücher/Main.class
/out/production/10_Objektdiagramme/Notizbücher/Notizbuch.class
/src/mathe/Main.java
